/*general style*/

/*.radio {
	display: inline;
}*/

img {
	margin: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	border: solid black 3px;
}

#characters img {
	width: 100px;
	display: inline;
}

#results img {
	width: 100px;
	display: inline;
}

#stage button {
	margin: 10px;
	width: 110px;
	padding: 5px!important;
}

.control-group {
	margin-bottom: 30px;
}